.audiowide-regular {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.chakra-petch-regular {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.chakra-petch-semibold {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.chakra-petch-regular-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.chakra-petch-semibold-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-style: italic;
}


body{
  color: #f2f2f2;
  font-family: "Chakra Petch", sans-serif;
  background-image: url("images/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header{
  text-align: left;
  margin: 5px 20px 0;
}

header h1{
  font-family: "Audiowide", sans-serif;
  color: #F1FF4F;
  font-weight: 400;
  font-size: 36px;
  margin: 0 0 5px;
  letter-spacing: 1px;
}

header h2{
  font-family: "Chakra Petch", sans-serif;
  font-size: 26px;
  font-weight: 400;
  margin: 0 0 12px;
}

