.audiowide-regular {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.chakra-petch-regular {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.chakra-petch-semibold {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.chakra-petch-regular-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.chakra-petch-semibold-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-style: italic;
}


body{
  color: #FFFBEA;
  font-family: "Chakra Petch", sans-serif;
  background-image: url("images/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#container{
  padding: 20px 0 40px;
  width: 1200px;
  height: 750px;
  margin: 0 auto;    
   padding: 20px 0 40px;    
  position: relative;   
}

header{
  text-align: left;
  padding: 5px 50px 0;
  margin: 0;
}

header h1{
  font-family: "Audiowide", sans-serif;
  color: #F1FF4F;
  font-weight: 400;
  font-size: 36px;
  margin: 0 0 5px;
  letter-spacing: 1px;
}

header h2{
  font-family: "Chakra Petch", sans-serif;
  font-size: 26px;
  font-weight: 400;
  margin: 0 0 12px;
}

#banner{
  width: 1100px;
  height: 250px;
  position: relative;
  margin: 0 auto 18px;
  background-image: url("images/bg-banner.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #000;
}

.alien{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 480px;
  height: 380px;
  pointer-events: none;
  animation: alienFloat 2s linear infinite;
}

@keyframes alienFloat{
  0%   { transform: translateY(0); }
  25%  { transform: translateY(-6px); }
  50%  { transform: translateY(0); }
  75%  { transform: translateY(6px); }
  100% { transform: translateY(0); }
}

.alien img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  inset: 0; 
}

.alien-normal{
  animation: alienFadeA 2s ease-in-out infinite;
}

.alien-hover{
  animation: alienFadeB 2s ease-in-out infinite;
}

@keyframes alienFadeA{
  0%, 45%   { opacity: 1; }
  55%, 100% { opacity: 1; }
}

@keyframes alienFadeB{
  0%, 45%   { opacity: 0; }
  55%, 100% { opacity: 1; }
}


.ufo-card{
  position: absolute;
  width: 190px;    
  height: 105px;    
  perspective: 1000px;
}

.ufo-card .back,
.ufo-card .front{
  backface-visibility: hidden;
  position: absolute;
  inset: 0;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: transform 0.8s; 
}


.ufo-card .back{
  transform: rotateY(0deg);
}

.ufo-card .front{
  transform: rotateY(-180deg);
}

.ufo-card:hover .back{
  transform: rotateY(180deg);
}

.ufo-card:hover .front{
  transform: rotateY(0deg);
}

.ufo1 .back{  
    background-image: url("images/ufo1.png"); 
}

.ufo1 .front{ 
    background-image: url("images/ufo-hover.png"); 
}

.ufo2 .back{  
    background-image: url("images/ufo2.png"); 
}

.ufo2 .front{ 
    background-image: url("images/ufo-hover.png"); 
}

.ufo3 .back{  
    background-image: url("images/ufo3.png"); 
}

.ufo3 .front{ 
    background-image: url("images/ufo-hover.png"); 
}


.ufo1{ 
    left: 20px;  top: 85px; 
}

.ufo2{ 
    left: 220px; top: 85px; 
}

.ufo3{ 
    left: 400px; top: 85px; 
}

main{
  display: flex;
  gap: 18px;
  padding: 0 20px;
  margin:auto 20px;
}

.col{
  flex: 1;
  padding: 0;
  margin: 0;
}

.card{
  margin: auto 0;
  padding: 16px;
  border-radius: 20px;
  background: linear-gradient(180deg, #FFFBEA 0%, #F1FF4F 98.73%);
}

.card-inner{
  border-radius: 16px;
  border: 2px solid #000;
  background: linear-gradient(180deg, rgba(255, 251, 234, 0.20) 64.55%, rgba(241, 255, 79, 0.20) 92.73%), #FFFBEA;
  color: #000;
  height: 380px;   
}

.card-inner h2{
  padding: 14px 0;
  margin: auto;
  text-align: center;
  font-family: "Chakra Petch", sans-serif;
  font-size: 22px;
  border-bottom: 2px solid #000000;
}

.card-inner ul{
  list-style: none;
  margin: auto;
  padding: 18px;
}

.card-inner li{
  margin: 18px 0;
}

.card-inner a{
  display: block;
  color: #000000;
  text-decoration: none;
  font-family: "Chakra Petch", sans-serif;
  font-size: 18px;
  transition: transform 0.4s ease; 
}

.card-inner a:hover{
  background-color: rgba(201, 211, 0, 0.45);
  transform: translateX(3px);
}

footer{
  display: block;
  padding: 18px 20px 0px;
  text-align: center;
}

footer a{
  color: #f6ff5a;
  padding-bottom: 2px;
}

footer a:hover{
  color: #f6ff5a;
  background: #FF59A4;
}