.audiowide-regular {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.chakra-petch-regular {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.chakra-petch-semibold {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.chakra-petch-regular-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.chakra-petch-semibold-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-style: italic;
}


body{
  color: #f2f2f2;
  font-family: "Chakra Petch", sans-serif;
  background-image: url("images/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header{
  text-align: left;
  margin: 5px 20px 0;
}

header h1{
  font-family: "Audiowide", sans-serif;
  color: #F1FF4F;
  font-weight: 400;
  font-size: 36px;
  margin: 0 0 5px;
  letter-spacing: 1px;
}

header h2{
  font-family: "Chakra Petch", sans-serif;
  font-size: 26px;
  font-weight: 400;
  margin: 0 0 12px;
}

main{
  display: flex;
  gap: 18px;
  padding: 0 20px;
  justify-content: space-between;
}

.col{
  flex: 1;
}

.card{
  padding: 16px;
  border-radius: 20px;
  background: linear-gradient(180deg, #FFFBEA 0%, #F1FF4F 98.73%);
}

.card-inner{
  border-radius: 16px;
  border: 2px solid #000;
  background: linear-gradient(180deg, rgba(255, 251, 234, 0.20) 64.55%, rgba(241, 255, 79, 0.20) 92.73%), #FFFBEA;
  color: #000;
  height: 380px;   
}

.card-inner h2{
  padding: 14px 0;
  margin: 0;
  text-align: center;
  font-family: "Chakra Petch", sans-serif;
  font-size: 22px;
  border-bottom: 2px solid #000000;
}
