.caesar-dressing-regular {
  font-family: "Caesar Dressing", system-ui;
  font-weight: 400;
  font-style: normal;
}

.sunshiney-regular {
  font-family: "Sunshiney", cursive;
  font-weight: 400;
  font-style: normal;
}



:root {
    --sliderwidth: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
}

h1 {
    color: white;
    text-align: center;
    font-family: "Caesar Dressing", system-ui;
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
    z-index: 10;
    font-size: 140px;
}

h2 {
    color: #FF0090;
    text-align: center;
    font-family: "Sunshiney", cursive;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    z-index: 10;
    font-size: 60px;
}

/* text of "Art" moving from right to left */
.slide-left {
    animation: slideLeftAnimation 2s ease-in-out forwards;
    text-align: left;
    padding-left: 50px;
}

/* text of "on the Streets" moving from left to right */
.slide-right {
    animation: slideRightAnimation 2s ease-in-out forwards;
    text-align: right;
    padding-right: 50px;
}

@keyframes slideLeftAnimation {
    0% {
        transform: translateX(100vw);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideRightAnimation {
    0% {
        transform: translateX(-100vw);
    }
    100% {
        transform: translateX(0);
    }
}

.scroll-container {
    width: 100%;
    overflow-x: hidden;
    margin-top: 40px;
}

.slider {
    display: flex;
    position: relative;
    height: 350px;
}

.slider div img {
    height: 100%;
    display: block;
    margin-right: 20px;
}

.a, .b {
    display: flex;
    height: 100%;
}

@keyframes moveSlider {
    from { left: 0; }
    to { left: var(--sliderwidth); }
}

.animate {
    animation-name: moveSlider;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.animation1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 600px;
}

.animation1 img {
    max-width: 100%;
    height: 750px;
    display: block;
    margin-top: 20px;
    margin-bottom: 60px;
}

.animation2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 600px;
}

.animation2 img {
    max-width: 100%;
    height: 500px;
    display: block;
    margin-top: 100px;
    margin-bottom: 60px;
}


.last-animation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px;
    padding: 40px 20px;
}

.last-animation-item {
    position: relative;
    max-width: 400px;
}

.last-animation-item img {
    max-width: 100%;
    height: auto;
    display: block;
}

.last-animation-item .hover-img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.last-animation-item:hover .hover-img {
    opacity: 1;
}

