body{
  color: #FFFBEA;
  font-family: "Chakra Petch", sans-serif;
  background-image: url("images/journalbg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
}

.page{
  width: 1200px;
  height: 750px;
  margin: 0 auto 0;
  display: flex;
  flex-direction: column;
}

header{
  height: 80px;
  padding: 10px 70px 0;
}

header h1{
  font-family: "Audiowide", sans-serif;
  color: #F1FF4F;
  font-weight: 400;
  font-size: 36px;
  letter-spacing: 1px;
  background-color: black;
  margin: 0;
  display: inline-block;
}

footer{
  height: 20px;
  padding: 0 50px;
  margin: 0;
  color: #FF59A4;
}

footer a {
  color: #FF59A4;
}


.layout{
  flex: 1;
  display: flex;
}


.side-nav{
  width: 50%;
  background-image: url("images/rat.png");
  background-position: top;
  background-repeat: no-repeat;

  display: relative;
  justify-content: center; 
  align-items: center;    
}


.side-nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: absolute;
  flex-direction: column;
  gap: 26px; 
}

.side-nav a{
  display: absolute;
  align-items: center;
  justify-content: center;

  width: 180px;     
  height: 40px;     
  border-radius: 100px;
  background: #000;
  border: 2px solid #F1FF4F;
  color: #F1FF4F;
  text-decoration: none;
  font-family: "Audiowide", sans-serif; 
  font-size: 18px; 
  letter-spacing: 1px;
  transition: transform 0.4s ease; 
}


.side-nav a:hover{
  transform: translateY(3px);
  transition: ease-in-out 0.4s;
  
}

.content{
  width: 50%;
  padding: 12px 50px 0; 
}


.card{
  margin-bottom: 25px;
  width: 100%;
  border-radius: 20px;
  padding: 16px;
  background: linear-gradient(180deg, #FFFBEA 0%, #F1FF4F 98.73%);
}


.card-inner{
  border-radius: 16px;
  border: 2px solid #000;
  background: linear-gradient(180deg, rgba(255, 251, 234, 0.20) 64.55%, rgba(241, 255, 79, 0.20) 92.73%), #FFFBEA;
  color: #000;

  padding: 30px 50px; 

}


.card-inner h2{
  padding: 14px 0;
  margin: auto;
  text-align: center;
  font-family: "Chakra Petch", sans-serif;
  font-size: 22px;
  border-bottom: 2px solid #000000;
  
}

.card-inner time{
  margin: auto;
  text-align: center;
  font-family: "Chakra Petch", sans-serif;
  
}

.card-inner a{
  color: #FF59A4;
}
